<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    {% block css_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'style_main.css' %}">
    {% endblock %}

</head>
<body>
{% block content %}

{% endblock %}
</body>
<script>
    window.onscroll = function() {myFunction()};

    var navbar = document.getElementById("navbar");
    var sticky = navbar.offsetTop;

    function myFunction() {
        if (window.pageYOffset >= sticky) {
        navbar.classList.add("sticky")
        } else {
        navbar.classList.remove("sticky");
        }
    }


    const add_form = document.getElementById("add_form")
    const close_form = document.getElementById("close_form")
    const view_form = document.getElementById("view_form")

    add_form.addEventListener('click', function() {
        view_form.style.display = '';
    })

    close_form.addEventListener('click', function() {
        view_form.style.display = 'none';
    })

    </script>
</html>
