{% extends 'main\administration_base.html' %}
{% load static %}
{% block title %}
{{ title }}
{% endblock %}
{% block css_block %}
<link rel="stylesheet" type="text/css" href="{% static 'style_main.css' %}">
{% endblock %}


{% block content %}
<div id="navbar">
    <a class="active" href="{% url 'administration_service' %}">Услуги</a>
    <a href="{% url 'administration_client' %}">Клиенты</a>
    <a href="{% url 'administration_order' %}">Заказы</a>
    <a href="{% url 'administration_anketa' %}">Анкета</a>
</div>



    <div style="margin-bottom: 100px;" class="content">
        <form method="post" action="">{% csrf_token %}
            <table id="contant_table">
                <tr>
                    <th>Название</th>
                    <th>Описание</th>
                    <th>Цена</th>
                </tr>
                <tr>
                    <td><input name="service_name" type="text" value="{{service.name}}"></td>
                    <td><textarea name="service_description" style="width: 400px; height: 100px;resize: none;" name="" id="">{{service.description}}</textarea></td>
                    <td><input name="service_price" type="number" value="{{service.price}}"></td>
                </tr>

            </table>

            <button type="submit">Сохранить</button>
        </form>



    </div>

<a style="font-size: 18px;margin-top: 100px;" href="{% url 'delete_service' service.id %}">Удалить услугу</a>

</div>



{% endblock %}