{% extends 'main\administration_base.html' %}
{% load static %}
{% block title %}
{{ title }}
{% endblock %}
{% block css_block %}
<link rel="stylesheet" type="text/css" href="{% static 'style_main.css' %}">
{% endblock %}


{% block content %}

<div id="navbar">
    <a class="active" href="{% url 'administration_about' %}">Главная страница</a>
    <a href="{% url 'administration_service' %}">Услуги</a>
    <a href="{% url 'administration_client' %}">Клиенты</a>
    <a href="{% url 'administration_anketa' %}">Анкета</a>
    <a href="{% url 'administration_links' %}">Ссылки</a>
    <a href="{% url 'administration_promotions' %}">Акции</a>
    <a href="{% url 'administration_comments' %}">Отзывы</a>
</div>


<div class="content">

    </div>
{% endblock %}