{% extends 'main\base.html' %}
{% load static %}
{% block title %}
{{ title }}
{% endblock %}
{% block css_block %}
<link rel="stylesheet" type="text/css" href="{% static 'style_main.css' %}">
{% endblock %}

{% block content %}
<div id="navbar">
    <a href="{% url 'main' %}">Главная</a>
    <a href="#">блог, как в телеге</a>
    <a href="#">Контакты</a>
    {% if request.user.is_authenticated %}
    <a href="{% url 'personal_account' %}" class="active" style="float: right;">Личный кабинет</a>
    {% else %}
    <a id="openModal"  style="float: right;">Личный кабинет</a>
    {% endif %}
</div>
<div class="content">
    <div>
        <div>
            <form method="post">{% csrf_token %}
                <table id="contant_table">
                    <tr>
                        <th>Вопрос</th>
                        <th>Ответ</th>
                    </tr>
                    {% for question in questions %}
                        <tr>
                            <td style="max-width: 400px;"><p>{{question.question}}</p></td>
                            <td><textarea required style="width: 700px;height: 99px;" name="{{question.id}}" id="">{{dict_answers|get_attr:question.id}}</textarea></td>
                        </tr>
                    {% endfor %}

                </table>
                <button type="submit">Сохранить</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}