<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="{% static 'title.jpg' %}" type="image/x-icon">
    {% block css_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'style_main.css' %}">


    {% endblock %}

</head>
<body style="font-size: 16px;">

    <div class="header">
        <div class="social_link">
            <a style="padding: 10px;" href="https://www.youtube.com/channel/UCuplUVTQQvGY36dVTlXSX0g"><img src="{% static 'youtimd.png' %}" alt=""></a>
            <a style="padding: 10px;" href="https://vk.com/astrolog_kusuman_nsk"><img src="{% static 'vk.png' %}"></a>
            <a style="padding: 10px;" href="https://t.me/kusuman_nataliya"><img src="{% static 'teleg.png' %}"></a>
            <a style="padding: 10px;" href="https://rutube.ru/channel/40181611/"><img width="18px" src="{% static 'rutube.jpg' %}"></a>
        </div>
        <!-- <h2>заголовок если надо. лого?</h2> -->
        <p>Может быть приветствие.</p>
    </div>

    <div id="modal" class="modal">
        <div class="modal-content">
            <div style="margin: 20px;">
                <form method="post">{% csrf_token %}
                    {{ form_auth.as_p }}
                    <button type="submit">Войти</button>
                </form>
                <button class="close">Отмена</button>
            </div>
        </div>

    </div>

{% block content %}

{% endblock %}
</body>
<script>
    window.onscroll = function() {myFunction()};

    var navbar = document.getElementById("navbar");
    var sticky = navbar.offsetTop;

    function myFunction() {
        if (window.pageYOffset >= sticky) {
        navbar.classList.add("sticky")
        } else {
        navbar.classList.remove("sticky");
        }
    }


    const modal = document.querySelector('#modal');
    const btn = document.querySelector('#openModal');
    const close = document.querySelector('.close');

    btn.onclick = function () {
    modal.style.display = 'block';
    };

    close.onclick = function () {
    modal.style.display = 'none';
    };

    window.onclick = function (event) {
    if (event.target == modal) {
        modal.style.display = 'none';
    }
    };

    </script>
</html>
