{% extends 'main\base.html' %}
{% load static %}
{% block title %}
{{ title }}
{% endblock %}
{% block css_block %}
<link rel="stylesheet" type="text/css" href="{% static 'style_main.css' %}">
{% endblock %}

{% block content %}
<div id="navbar">
    <a href="{% url 'main' %}">Главная</a>
    <a class="active" href="{% url 'comments' %}">Отзывы</a>
    <a href="{% url 'services' %}">Мои предложения</a>
    {% if request.user.is_authenticated %}
    <a href="{% url 'personal_account' %}" style="float: right;">Личный кабинет</a>
    {% else %}
    <a id="openModal" style="float: right;">Вход</a>
    {% endif %}
</div>
{% if request.user.is_authenticated %}
<div style="margin-top: 30px;margin-left: 50px;">
    <form method="post">{% csrf_token %}
        <label for="new_comment">Оставьте Ваш отзыв:</label>
        <textarea id="new_comment" name="new_comment" rows="5" cols="33">Ваш текст...</textarea>
        <button style="display: block;" type="submit">Отправить</button>
    </form>

</div>
{% else %}
<div style="display: flex;justify-content: end;">
    <p style="font-size: 15px;">
        Дорогие друзья, возможность оставить отзыв появится после получения услуг.
    </p>
</div>

{% endif %}
<div style="display: flex;justify-content: end; margin-top: 15px;">
    <p>
        Подготовила для Вас <a href="{{social_comm}}">отзывы</a>, которые накопились в других социальных сетях, можете ознакомиться.
    </p>
</div>
<div class="content">

    <div class="reviews">
        {% for comment in comments %}

        <div class="review">
            <p class="review-text">{{comment.comment}}</p>
            <p class="review-author">{{comment.client.fio}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{comment.data|date:"d - m - Y"}}</p>
        </div>

        {% endfor %}

    </div>
 </div>
{% endblock %}