{% extends 'main\base.html' %}
{% load static %}
{% block title %}
{{ title }}
{% endblock %}
{% block css_block %}
<link rel="stylesheet" type="text/css" href="{% static 'style_main.css' %}">
{% endblock %}

{% block content %}
<div id="navbar">
    <a href="{% url 'main' %}">Главная</a>
    <a href="{% url 'comments' %}">Отзывы</a>
    <a class="active" href="{% url 'services' %}">Мои предложения</a>
    {% if request.user.is_authenticated %}
    <a href="{% url 'personal_account' %}" style="float: right;">Личный кабинет</a>
    {% else %}
    <a id="openModal" style="float: right;">Вход</a>
    {% endif %}
</div>
<div class="content">
    <h3>Что я могу Вам предложить</h3>
    <!-- <button id="open_modal_service">Оставить запрос на обратную связь</button>
    <div id="modal_service" class="modal">
        <div class="modal-content">
            <div style="margin: 20px;">
                <form method="post">
                    <button type="submit">Отправить</button>
                </form>
                <button id="close_modal_service">Отмена</button>
            </div>
        </div>

    </div> -->
    <div>
        <table id="contant_table">
            <th>Название</th>
            <th>Описание</th>
            <th></th>
        {% for service in all_services %}
                <tr>
                    <td>{{service.name}}</td>
                    <td>{{service.description}}</td>
                    <td>{{service.price}}</td>
                </tr>

        {% endfor %}
        </table>
    </div>
 </div>

 <script>

 </script>
{% endblock %}